* {
    background-color: #ffe4b5;
}

#canvas-container {
    width: 100%;
    text-align:center;
 }
 
 canvas {
    display: inline;
    margin: 110px;
 }

 .forward {
    font-size: 35px;
    margin-top: 40px;
    display: flex;
 }

 .back {
     font-size: 35px;
     margin-top: 40px;
     display: flex;
 }

 .rules {
    font-size: 35px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: -80px;
 }

 .movement {
    justify-content: space-evenly;
    display: flex;
 }